   <!-- Edit modal Evénement -->
   <ng-template #editEventcontent>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modifier événement</h5>
      <button type="button" class="close"  (click)="decline()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <h4>
      <strong>Utilisateur: </strong>  {{currentUser}}
     </h4>
     <h4>
       <strong> Structure: </strong>  {{currentStructure}}
     </h4>
     <h4>
       <strong> Nom d'utilisateur: </strong>  {{username}}
     </h4>
     <h4>
       <strong> Email:</strong>  {{email}}
     </h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="decline()">OK</button>
      <!-- <button type="submit" class="btn btn-success" data-toggle="modal"  data-target="#editPasswordModal" (click)="openEditEventModal(editEventcontent)">Modifier mot de passe</button> -->
    </div>
</ng-template>

<!-- Edit password Evénement -->
<ng-template #editPasswordcontent>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modifier mot de passe</h5>
    <button type="button" class="close"  (click)="decline()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <form action="">
     <div class="form-group">
       <label for="">Mot de passe</label>
       <input type="password">
     </div>
     <div class="form-group">
      <label for="">Confirmer mot de passe</label>
      <input type="password">
    </div>
   </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="decline()">Annuler</button>
    <button type="submit" class="btn btn-success">Modifier mot de passe</button>
  </div>
</ng-template>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand logotitle" href="#">
      <img class="logo" src="assets/Orange_logo.svg.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <div class="" style="color: white;">
      <h2>
        Bonjour <a href="" class="currentUser" role="button" data-toggle="modal"  data-target="#editModal" (click)="openEditEventModal(editEventcontent)">
          {{currentUser}}</a> 
      </h2>
      </div>
  
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto center-nav">

      <li class="nav-item ">
        <a class="nav-link"  href="#" routerLink="accueil" routerLinkActive="active-link">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              home
            </mat-icon>
          </div>
         <div>
          Accueil 
         </div>
     </a>
      </li>
      <!-- <li class="nav-item " *ngIf="is_admin">
     <a class="nav-link" href="#" routerLink="dashboard" routerLinkActive="active-link">     
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              dashboard
            </mat-icon>
          </div>
         <div>
         Tableau de bord 
         </div>
     </a>
      </li> -->
        <li class="nav-item dropdown"  routerLinkActive="active-link">
          <a class="nav-link dropdown-toggle" href="#" id="suivi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_view_day</mat-icon>
            </div>
            <div>
              Suivi
            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="suivi">
            <a class="dropdown-item" href="#" routerLink="activite">Actvité</a>
            <a class="dropdown-item" href="#" routerLink="roadmap">Roadmap</a>
          </div>
        </li>
        <li class="nav-item dropdown"  routerLinkActive="active-link">
          <a class="nav-link dropdown-toggle" href="#" id="roadmap" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">
            <div class="icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_view_week</mat-icon>
            </div>
            <div>
              Extraction
            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="extract">
            <a class="dropdown-item" routerLink="extract-activite">Activité</a>
            <a class="dropdown-item" routerLink="extract-roadmap" >Roadmap</a>
          </div>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="notifications" routerLinkActive="active-link">
            <div class="icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon">notifications
              </mat-icon>
            </div>
           <div>
            Notifications 
           </div>
       </a>
        </li> -->
        <li class="nav-item dropdown" *ngIf="is_admin">
          <a class="nav-link " routerLink="./settings" routerLinkActive="active-link">
            <div class="icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
            </div>
          <div>
            Paramètres
          </div>
          </a>
          <!-- 
         <div class="dropdown-menu" aria-labelledby="roadmap">
            <a class="dropdown-item" href="#">Profils</a>
            <a class="dropdown-item" href="#">Workflows</a>
            <a class="dropdown-item" href="#">Intérims</a>
          </div>
          -->
         
        </li>
      </ul>
      <ul navbar-nar mr-auto>
        <li class="nav-item ">
          <a class="nav-link logout" href="#" (click)="logout()">
            <div class="icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
            </div>
           <div>
            Déconnexion 
           </div>
       </a>
        </li>
      </ul>
    </div>
  </nav>
  
  