
<div class="bg-light sidebar">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
         <li class="nav-item">
            <a href="" class="nav-link  py-3 border-bottom" aria-current="page" title="REX" data-bs-toggle="tooltip" data-bs-placement="right" role="button" >
                REX</a>
        </li>
         <li class="nav-item">
            <a href=""  class="nav-link py-3 border-bottom"  title="CORP" data-bs-toggle="tooltip" data-bs-placement="right">
                CORP</a>
        </li>
         <li class="nav-item">
            <a href=""  class="nav-link py-3 border-bottom"  title="FS" data-bs-toggle="tooltip" data-bs-placement="right">
                FS</a>
        </li>
         <li class="nav-item">
            <a href=""  class="nav-link py-3 border-bottom"  title="RSEP" data-bs-toggle="tooltip" data-bs-placement="right">
                RSEP</a>
        </li>
         <li class="nav-item">
            <a href=""  class="nav-link py-3 border-bottom"  title="ODC" data-bs-toggle="tooltip" data-bs-placement="right">
                ODC</a>
        </li>
         <li class="nav-item">
            <a href=""  class="nav-link py-3 border-bottom"  title="PP" data-bs-toggle="tooltip" data-bs-placement="right">
                PP</a>

    </ul>
</div>