
.table{
    text-align: center;
    border-radius: 5px;
}
.table td{
    padding: 20px;
    font-size: large;
}
.date{
    color:  #88888a;
}

.suivi-title h1{
  
    padding: 10px;
    margin:auto;
    font-weight: bolder;
}
.btn-ajout{
    background-color: #F16E00;
}
.numWeek{
    color: #F16E00;
}
.btn-ajout-autre-activite{
    background-color: #F16E00;

}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }


 