<!--
<app-header></app-header>
-->
<style>
  .activites-pagination /deep/ .ngx-pagination .current {
    background: red;
  }
</style>


<div class="container  mt-3">
  <div class="row">
    <div class="card text-dark bg-light mb-3" >
      <div class="row ">
        <div class="card-header suivi-title">
          <div class="text-center">
            <h1 class=""> SUIVI HEBDO DES ACTIVITES DE DCIRE</h1> 
          </div>
           <h1 class="numWeek"> S {{this.weekNumber}}   -  Du {{startDayWeek.format('LL')  }} au {{endDayWeek.format('LL')}} </h1>
           <a class="previous round" (click)="previous(weekNumber)">&#8249;</a>
           <a class="next round float-right" (click)="next(weekNumber)">&#8250;</a>
        </div>
      </div>
      
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row align-items-center">
            <div class="col-md-2 float-right"><button type="button" class="btn btn-ajout" routerLink="list-activite" routerLinkActive="active-link" *ngIf="!PrevAndNextClicked" >Liste des activités</button></div>   <!--(click)="open(content)"-->
            <div class="col-md-2 float-left"><button type="button" class="btn btn-ajout" routerLink="add-activite" routerLinkActive="active-link" *ngIf="!PrevAndNextClicked" >Ajouter une activité</button></div>   <!--(click)="open(content)"-->
            <!-- <button type="button" class="btn btn-dark" (click)="previous">Previous</button>
            <button type="button" class="btn btn-warning" (click)="next">Next</button> -->
            <div class="col-md-6"></div>
          </div>
        </div>
       
      </div>


  <div class="row" *ngIf="PrevAndNextClicked">
    <!-- tableau d'activités -->
<table class="table table-hover bg-light" id="activite-table">
  <thead>
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Date</th>
      <th scope="col">Structure</th>
      <th scope="col" *ngIf="!PrevAndNextClicked">Actions</th>
    </tr>
  </thead>
  <tbody>
     <div class="row text-center" *ngIf="!activites || activites?.length === 0" >
        <h2>
            ACTIVITES PHARES DE LA SEMAINE
        </h2>
        <h3 style="color:#F16E00; ">Aucune activité enregistrée</h3>
    </div> 
    <tr *ngFor= "let activite of activites | paginate: { itemsPerPage: 4, currentPage: p, totalItems: totalLength }" data-toggle="modal"  >
      <td>{{activite.libelle}}
      </td>
      <td class="date" >{{activite.date | date  }}</td>
      <td class="date" >{{activite.structure['libelle']}}</td>
    </tr>
    <tr>
    </tr>
  </tbody>
  <tfoot class="text-center" *ngIf="activites || activites?.length === 4" >
    <pagination-controls class="activites-pagination" (pageChange)="p = $event"></pagination-controls>
  </tfoot>

</table> 
   <!-- tableau d'activités -->


<!-- Difficultés et agenda des événements -->
<div class="row">
  <div class="col">
    <div class="card text-dark bg-light mb-3" >
      <div class="card-header"> <h2> DIFFICULTÉS,POINTS DE VIGILANCE ET DE COORDINATION </h2> </div>
      <div class="card-body text-center" *ngIf="!diff || diff.length === 0">
        <h3 style="color:#F16E00; ">Aucune difficulte enregistrée</h3>
      </div>
      <div class="card-body" >
        <ul class="list-group" *ngFor= "let difficulte of diff">
          <li class="list-group-item">{{difficulte.description}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-dark bg-light mb-3">
      <div class="card-header"> <h2> AGENDA DES EVENEMENTS </h2> </div>
      <div class="card-body" >
        <ul class="list-group" *ngFor="let event of events">
          <li class="list-group-item">{{event.thematique}} --- {{event.start | date}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Difficultés et agenda des événements -->

  </div>

  <div *ngIf="!PrevAndNextClicked">

    <router-outlet></router-outlet>

  </div>
  
  </div>


 
</div>


