<div class="sidebar">
    <ul>
        <li>
            <a class="active font-weight-bold" routerLink="">GLOBALE</a>
        </li>
        <li *ngFor="let structure of structures">
            <a class="font-weight-bold" (click)="getSelectedStructure(structure.id)">{{structure.libelle}}</a>
        </li>
    </ul>
  </div>
  


<div class="container mr-1">

    <div class="row bg-light text-center">
        <h1>EXTRACTION ROADMAP DCIRE</h1>
    </div>
  
    <div class="row">
        <div class="col">
            <button class="btn extract-btn mt-2" (click)="exportexcel()">Extraire</button>
        </div>
        <div class="col">
            <button class="btn btn-success float-right mt-2">
                Hebdo
            </button>
            <button class="btn btn-success float-right mt-2">
                Mensuel
            </button>
            <button class="btn btn-success float-right mt-2">
                Trimestriel
            </button>
            <button class="btn btn-success float-right mt-2">
                Semestriel
            </button>
        </div>
      
    </div>
    <table class="table table-hover table-bordered bg-light mt-3" id="roadmap-table">
        <thead  class="text-center thead">
            <tr>
                <th scope="col">
                    Thématique
                </th>
                <th>
                    Date début
                </th>
                <th>
                    Date Fin
                </th>
                <th>
                    Autotités sollicitées
                </th>
                <th>
                    Corfirmé Oui/Non
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let event of events">
                <td>
                    {{event.thematique}}
                </td>
                <td>
                    {{event.start | date }}
                </td>
                <td>
                    {{event.end | date}}
                </td>
                <td>
                    {{event.autorite}}
                </td>
                <td>
                    Oui
                </td>
            </tr>
        </tbody>

    </table>

</div>
