.thead{
    background-color: #50BE87;
}
.extract-btn{
     background-color: #F16E00;
     color: white;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #50BE87;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(153, 153, 153);
    color: white;
  }
  
  .active-link{
    background-color: #50BE87;
  
  }
  .legend {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }

  .myitems{
    list-style: none;
  }
  .myitem{
    cursor: pointer;
  }

  .next {
    background-color: #50BE87;
    color: white;
  }
  .round {
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
  }
 
  