<div class="sidebar">
    <ul class="myitems">
        <li class="myitem">
            <a class="font-weight-bold active" (click)="showEvent()" routerLinkActive="active-link">GLOBALE</a>
        </li>
        <li *ngFor="let structure of structures" class="myitem"> 
            <a class="font-weight-bold nav-link-faded" (click)="getSelectedStructure(structure.id)" routerLinkActive="active-link" >
                <span [style.background-color]="structure?.color" class="legend"></span>
                {{structure.libelle}}

            </a>
        </li>
    </ul>
  </div>
  


<div class="container mr-1">

    <div class="row bg-light text-center" >
        <h1 style="color:darkorange;"> <b> EXTRACTION ROADMAP DCIRE <span>{{selectedStructure}} </span> </b> </h1>
    </div>
  
    <div class="row">
        <div class="col">
            <!-- <button (click)="exportToExcel()">Export The Report</button> -->
            <button class="btn extract-btn mt-2" (click)="exportToExcel()">Extraire</button>
        </div>
        <!-- <div class="col">
            <a class="previous round" (click)="previous(weekNumber)">&#8249;</a>
            <a class="next round" (click)="next(weekNumber)">&#8250;</a>
        </div> -->
        <!-- <div class="col">
            <button class="btn btn-success float-right mt-2">
                Hebdo
            </button>
            <button class="btn btn-success float-right mt-2">
                Mensuel
            </button>
            <button class="btn btn-success float-right mt-2">
                Trimestriel
            </button>
            <button class="btn btn-success float-right mt-2">
                Semestriel
            </button>
        </div> -->
      
    </div>
    <table class="table table-hover table-bordered bg-light mt-3" id="roadmap-table">
        <thead  class="text-center thead">
            <tr>
                <th scope="col">
                    Thématique
                </th>
                <th>
                    Date début
                </th>
                <th>
                    Date Fin
                </th>
                <th>
                    Autotités sollicitées
                </th>
                <th>
                    Structure
                </th>
                <th>
                    Lieu
                </th>
                <th>
                    Corfirmation
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let event of events">
                <td>
                    {{event?.thematique}}
                </td>
                <td>
                    {{event?.start | date }}
                </td>
                <td>
                    {{event?.end | date}}
                </td>
                <td>
                    {{event?.autorite}}
                </td>
                <td>
                    {{event?.structure?.libelle}}
                </td>
                <td>
                    {{event?.lieu}}
                </td>
                <td>
                    {{event?.confirmation}}
                </td>
            </tr>
        </tbody>

    </table>

</div>
