<div class="connexion-body">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark logotitle">
  <a class="navbar-brand" href="#">DCIRE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>



<div class="container" >
<form class="m-auto" [formGroup]="form" (ngSubmit)="seConnecter()"> 
  <fieldset>
    <legend class="legende"> <h1> Connexion </h1>  </legend>
      <div class="mb-3">
        <label for="" class="form-label">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" formControlName="username" [ngClass]="{'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required"> Veuillez saisir un nom d'utilisateur</div>
      </div>
    </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"  [ngClass]="{'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required"> Veuillez saisir un mot de passe</div>
      </div>
      </div>
      <div class="submitdiv">
        <button type="submit" class="btn btn-primary btn-lg submitbtn">Se connecter</button>
      </div>
    
  </fieldset>
   
  </form>

  
  
  
</div>
<!--
<div class="footer">
  <app-footer></app-footer>
</div>

-->
</div>