
<!-- Edit modal Activité -->
<ng-template #editcontent>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modifier utilisateur</h5>
    <button type="button" class="close"  (click)="decline()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="editForm">
      <div class="form-group">
        <label for="nom" class="col-form-label">Nom:</label>
        <input type="text" class="form-control" id="nom" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="prenom" class="col-form-label">Prénom:</label>
        <input type="text" class="form-control" id="nom" formControlName="prenom">
      </div>
      <div class="form-group">
        <label for="matricule" class="col-form-label">Matricule:</label>
        <input type="text" class="form-control" id="matricule" formControlName="matricule">
      </div>
      <div class="form-group">
        <label for="structure" class="col-form-label">Structure:</label>
        <input type="text" class="form-control" id="structure" formControlName="structure">
      </div>
        <div class="form-group">
        <label for="profil" class="col-form-label">Profil:</label>
        <input type="text" class="form-control" id="profil" formControlName="profil">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="decline()">Annuler</button>
    <button type="submit" class="btn btn-success"(click)="updateUser()">Enregistrer</button>
  </div>
</ng-template>

<!-- Edit modal Activité -->

      <!--Modal Suppression user-->

      <ng-template #template>
        <button type="button" class="close"  (click)="decline()" >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body text-center">
          <p>Voulez-vous supprimer cet utilisateur?</p>
          <button type="button" class="btn btn-primary" (click)="decline()" >Non</button>
          <button type="button" class="btn btn-default" (click)="deleteUser()" >Oui</button>
        </div>
      </ng-template>
      
      <!--Modal Suppression user-->
<div class="" id="listeProfils">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Matricule</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <!-- <th scope="col">email</th> -->
          <th scope="col">Structure</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users  | paginate: { itemsPerPage: 7, currentPage: p, totalItems: totalLength }">
            <td>{{user.matricule}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <!-- <td>{{user.email}}</td>  -->
            <td>{{user.structure?.libelle}}</td>
          <td>
            <a  class="text-warning mr-3"  title="Modifier structure"  role="button" data-toggle="modal"  data-target="#editModal" (click)="openEditModal(editcontent,user.id)">
              <i class="fas fa-pencil-alt"></i>
          </a>
            <!-- <a  class="text-warning mr-3"  title="Modifier structure"  role="button" data-toggle="modal"  data-target="#editModal" (click)="openEditModal(editcontent,user.id)">
              <i class="fas fa-pencil-alt"></i>
          </a> -->
            <!-- <a data-mdb-toggle="tooltip" title="supprimer"  (click)="openModal(template,user.id)"><i class="fas fa-trash-alt fa-lg text-danger"></i></a> -->
          <a class="form-check form-switch">
            <input #flexSwitchCheckDefault class="form-check-input btn_{{user.id}}" type="checkbox"  
            id="flexSwitchCheckDefault" (click)="BlockUser(user.id)"  checked="{{user.status !=false ? 'checked':''}}"/>  <!-- [checked]="checked"-->
          </a>
          </td>
        </tr>
      </tbody>
      <tfoot class="text-center"  >
        <pagination-controls class="activites-pagination" (pageChange)="p = $event"></pagination-controls>
      </tfoot>
    </table>
  </div>