.body{
    background-image: url('../../assets/pexels-daria-liudnaya-7354755.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    //opacity: 0.5;
}

.mask{
    top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
}

.mask-body{
  top: 50%;
  left: 50%;
}
.text-white{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
}

.title{
  font-size: 35px;
}