<div class="body text-center ">

    <div class="mask bg-dark bg-opacity-10 text-light"  style="--bs-bg-opacity: .5;" >
        
        <div class="mask-body">
          <div class="text-white">
            <div class="title">
              <p class="mb-3 ">Bienvenue sur votre plateforme de Suivi des Activités et de la Roadmap </p>
            </div>
            <div class="mt-4">
              <h4 class="mb-4">DCIRE: Direction de la Communication Institutionnelle et des Relations Extérieures </h4>
            </div>
            <button class="btn btn-outline-light btn-lg m-2" routerLink="../activite" role="button"
              target="_blank">Suivi d'activités</button>
            <button class="btn btn-outline-light btn-lg m-2" routerLink="../roadmap" target="_blank"
              role="button">Suivi Roadmap</button>
          </div>
        </div>
      </div>
</div>