<div class="body text-center ">

    <div class="mask bg-dark bg-opacity-10 text-light"  style="--bs-bg-opacity: .5;" >
        
        <div class="mask-body">
          <div class="text-white">
            <p class="mb-3 title">Bienvenue sur votre plateforme de suivi des activités et de la roadmap </p>
            <h5 class="mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
            <a class="btn btn-outline-light btn-lg m-2" routerLink="" role="button"
              rel="nofollow" target="_blank">Suivi d'activités</a>
            <a class="btn btn-outline-light btn-lg m-2" routerLink="/roadmap" target="_blank"
              role="button">Suivi Roadmap</a>
          </div>
        </div>
      </div>
</div>