
      <!--Modal Suppression Activité-->

<ng-template #template>
    <button type="button" class="close"  (click)="decline()" >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body text-center">
      <p>Voulez-vous supprimer cette activité?</p>
      <button type="button" class="btn btn-primary" (click)="decline()" >Non</button>
      <button type="button" class="btn btn-default" (click)="DeleteActivite()" >Oui</button>
    </div>
  </ng-template>
  
  <!--Modal Suppression Activité-->

      <!-- Edit modal Activité -->
      <ng-template #editcontent>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier activité</h5>
          <button type="button" class="close"  (click)="decline()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="editForm">
            <div class="form-group">
              <label for="libelle" class="col-form-label">Libellé:</label>
              <input type="text" class="form-control" id="libelle" formControlName="libelle">
            </div>
            <div class="form-group">
              <label for="date" class="col-form-label">Date:</label>
              <input type="date"  class="form-control" id="date" formControlName="date" >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="decline()">Annuler</button>
          <button type="submit" class="btn btn-success"(click)="updateActivite()">Enregistrer</button>
        </div>
  </ng-template>

<!-- Edit modal Activité -->


      <!-- Edit modal Difficulté -->
      <ng-template #editDiffcontent>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier difficulté</h5>
          <button type="button" class="close"  (click)="decline()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="editDiffForm">
            <div class="form-group">
              <label for="description" class="col-form-label">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="decline()">Annuler</button>
          <button type="submit" class="btn btn-success"(click)="updateDifficulte()">Enregistrer</button>
        </div>
  </ng-template>

<!-- Edit modal  Difficulté-->


      <!-- Edit modal Evénement -->
      <ng-template #editEventcontent>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier événement</h5>
          <button type="button" class="close"  (click)="decline()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="editEventForm">
            <div class="form-group">
              <label for="thematique" class="col-form-label">Thématique</label>
              <input type="text" class="form-control" id="thematique" formControlName="thematique">
            </div>
            <div class="form-group">
              <label for="date" class="col-form-label">Date</label>
              <input type="date" class="form-control" id="date" formControlName="start">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="decline()">Annuler</button>
          <button type="submit" class="btn btn-success"(click)="updateEvenement()">Enregistrer</button>
        </div>
  </ng-template>

<!-- Edit modal  Evénement-->

<!--Modal Suppression Event-->

<ng-template #templateDeleteEvent>
    <button type="button" class="close"  (click)="decline()" >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body text-center">
      <p>Voulez-vous supprimer cette événement?</p>
      <button type="button" class="btn btn-primary" (click)="decline()" >Non</button>
      <button type="button" class="btn btn-default" (click)="DeleteEvent()" >Oui</button>
    </div>
  </ng-template>
  
  <!--Modal Suppression Event-->

<!--Modal Suppression Difficulté-->

<ng-template #templateDiff>
    <button type="button" class="close"  (click)="decline()" >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body text-center">
      <p>Voulez-vous supprimer cette difficulté?</p>
      <button type="button" class="btn btn-primary" (click)="decline()" >Non</button>
      <button type="button" class="btn btn-default" (click)="removeDifficulte()" >Oui</button>
    </div>
  </ng-template>
  
  <!--Modal Suppression Difficulté-->

<!-- tableau d'activités -->
  <table class="table table-hover bg-light" id="activite-table">
    <thead>
      <tr>
        <th scope="col">Libelle</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
       <div class="row text-center" *ngIf="!activites || activites.length === 0" >
          <h2>
              ACTIVITES PHARES DE LA SEMAINE
          </h2>
          <h3 style="color:#F16E00; ">Aucune activité enregistrée</h3>
      </div> 
      <tr *ngFor= "let activite of activites | paginate: { itemsPerPage: 4, currentPage: p, totalItems: totalLength }" data-toggle="modal"  >
        <td>{{activite.libelle}}
        </td>
        <td class="date" >{{activite.date | date  }}</td>
        <td> 
       
          <!-- <a class="text-success"  title="Détails activité"  role="button" data-toggle="modal"  data-target="#detailsModal" (click)="passId(activite.id)"> 
            <i class="fas fa-search-plus"></i>
          </a> -->
     
          <a  class="text-warning"  title="Modifier activité"  role="button" data-toggle="modal"  data-target="#editModal" (click)="openEditModal(editcontent,activite.id)">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a  role="button"  class="text-danger"   title="Supprimer activité"  (click)="openModal(template,activite.id)"> 
            <i class="fas fa-trash-alt  ml-3"></i>
          </a>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
    <tfoot class="text-center" *ngIf="activites || activites.length === 4" >
      <pagination-controls class="activites-pagination" (pageChange)="p = $event"></pagination-controls>
    </tfoot>

  </table> 
     <!-- tableau d'activités -->


  <!-- Difficultés et agenda des événements -->
  <div class="row">
    <div class="col">
      <div class="card text-dark bg-light mb-3" >
        <div class="card-header"> <h2> DIFFICULTÉS,POINTS DE VIGILANCE ET DE COORDINATION </h2> </div>
        <div class="card-body text-center" *ngIf="!diff || diff.length === 0">
          <h3 style="color:#F16E00; ">Aucune difficulte enregistrée</h3>
        </div>
        <div class="card-body" >
          <ul class="list-group" *ngFor= "let difficulte of diff">
            <li class="list-group-item">{{difficulte.description}}
                <div class=" float-right">
                  <a  class="text-warning"  title="Modifier activité"  role="button" data-toggle="modal"  data-target="#editDiffModal" (click)="openEditDiffModal(editDiffcontent,difficulte.id)"  > <!-- data-toggle="modal"  data-target="#editModal"-->
                    <i class="fas fa-pencil-alt ml-3"></i>
                  </a>
                  <a  role="button"  class="text-danger"   title="Supprimer activité"  (click)="openDiffModal(templateDiff,difficulte.id)" > <!--data-toggle="modal"  data-target="#deleteModal" role="button" (click)="passId(activite.id)"-->
                    <i class="fas fa-trash-alt  ml-3"></i>
                  </a>
                </div>
               
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-dark bg-light mb-3">
        <div class="card-header"> <h2> AGENDA DES EVENEMENTS </h2> </div>
        <div class="card-body" >
          <ul class="list-group" *ngFor="let event of events">
            <li class="list-group-item">{{event.thematique}} --- {{event.start | date}}
              <div class=" float-right">
                <a  class="text-warning"  title="Modifier activité"  role="button" data-toggle="modal"  data-target="#editModal" (click)="openEditEventModal(editEventcontent,event.id)"> <!-- data-toggle="modal"  data-target="#editModal"-->
                  <i class="fas fa-pencil-alt ml-3"></i>
                </a>
                <a  role="button"  class="text-danger"   title="Supprimer activité" (click)="openDeleteEventModal(templateDeleteEvent,event.id)" > <!--data-toggle="modal"  data-target="#deleteModal" role="button" (click)="passId(activite.id)"-->
                  <i class="fas fa-trash-alt  ml-3"></i>
                </a>
              </div>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Difficultés et agenda des événements -->

