.home-body{
    background-image: url('/pexels-daria-liudnaya-7354755.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
  //  mask-image: linear-gradient(to bottom, transparent 10%, black);
  }
 